<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- custom js -->
     <script src="/static/js/alert.js"></script>
</head>
<style>
  body {
    font-family: 'Reggae One', sans-serif;
  }
</style>
<body>
  <section class="container is-max-tablet content mt-5">
    <h1 class="is-large has-text-centered">やることたち。</h1>
    <div class="is-flex">
      <form action="/todos" method="post" class="field has-addons" style="max-width: 400px; margin: 0 auto;">
        <p class="control">
          <input type="text" name="task" class="input is-normal">
        </p>
        <p class="control">
          <button type="submit" class="button">やること追加</button>
        </p>
      </form>
    </div>
    <ul>
    {% for task in tasks %}
    <li class="box" style="border: 2px solid #b0c4de;">
      <div class="is-flex is-justify-content-space-between is-align-items-center">
        <p class="is-size-5 m-0">{{ task.task }}</p>
        <div>
          <button type="button" onclick="DisplayEditModal('{{ task.id }}', '{{ task.task }}')" class="button is-link is-outlined">編集すっぞ</button>
          <button type="button" onclick="DeleteConfirm('{{ task.id }}')" class="button is-danger is-outlined">
            <span>削除すっぞ</span>
          </button>
        </div>
      </div>
    </li>
    {% endfor %}
    </ul>
  </section>
</body>
</html>